<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>
  <main class="container">
    <% include ../static/partials/messages.ejs %>
    <h1>
      <%= `${user.username}'s profile` %>
    </h1>
    <h5>
      <%= `Email: ${user.email}` %>
    </h5>
    <hr>

    <% if(user.role === 0) { %>
    <h3>Upgrade to Premium Membership!</h3>
    <small>For only $9.99 a month, get access to create private wikis!</small>

    <!--
Stripe Payment Test Credentials:
Card Number: 4242 4242 4242 4242
Exp Date: Any Date(MM/YY format)<
CVC Number: Any 3 Digit Number
Zip Code: Any 5 Digit Number
-->

    </ul>
    <form action="/users/<%= user.id %>/upgrade" method="POST">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_Yuj3qIdug9WYWpZ3eIrNIvmB"
        data-amount="999" data-name="Blocipedia Stripe" data-description="Blocipedia Premium Membership Charge"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto" data-zip-code="true">
        </script>
    </form>
    <% } %>

    <% if(user.role === 1) { %>
    <form action="/users/<%=  user.id %>/downgrade" method="POST">
      <button type="submit" class="btn btn-primary">Downgrade to Standard Membership</button>
      <p>
        <small><strong>
            <div style="color:red">WARNING:</div>
          </strong> Downgrading to Standard Membership will make all private wikis public.</small>
      </p>
    </form>
    <% } %>

    <hr>
    <h2>Your Wikis</h2>
    <ul class="list-group">
      <% if(wikis) { %>
      <% wikis.forEach((wiki) => { %>
      <li>
      <li class="list-group-item">
        <a href="/wikis/<%= wiki.id %>">
          <%= wiki.title %>
        </a>
        <span>[
          <%= wiki.private ? 'private' : 'public' %>]</span>
      </li>
      <% }) %>
      <% } %>
    </ul>

  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>

</html>